/* App CSS */

.scroll-content {
	background-color: #1A383D;
}

.tabs {
	border-width: 0 !important;
}

.bar-header {
	border-bottom-width: 0 !important;
}

.bar.bar-stable .title {
	color: #54845E !important;
}

.item {
	background-color: #AE8E6F !important;
	border-color: #634529 !important;
	
}

.item-divider {
	background-color: #AE756F !important;
	border-bottom-width: 0 !important;
}


.item-body {
	background-color: #AE8E6F !important;
	border-top-width: 0 !important;
}

