container_commands:
   01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: biko.settings.stage
  aws:elasticbeanstalk:container:python:
    WSGIPath: prowlist/wsgi.py
    NumProcesses: 3
    NumThreads: 15
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "prowlist/static/"
packages:
    yum:
        git: []
        memcached: []
