commands:
  01_npm_install:
    command: sudo yum -y --enablerepo=epel install nodejs npm

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput --settings=${DJANGO_SETTINGS_MODULE}"
    leader_only: true

  02_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

  03_install_pil:
    command: 'source /opt/python/run/venv/bin/activate && yes | pip uninstall Pillow'

  04_install_pil:
    command: 'source /opt/python/run/venv/bin/activate && yes | pip install Pillow --no-cache-dir'
