<ion-view title="PROWLIST">
    <ion-content padding="false">
      <ion-list>
        <ion-item class="item-divider">
          MY TRIPS
        </ion-item>
        <ion-item class="item-icon-left" href="" ng-click="gotoTrip()">
          <i class="icon ion-paper-airplane"></i>
          LAX
          <span class="item-note">
            3/12/2015
          </span>
        </ion-item>
        <ion-item class="item-icon-left" href="" ng-click="gotoTrip()">
          <i class="icon ion-paper-airplane"></i>
          TLV
          <span class="item-note">
            4/2/2015
          </span>
        </ion-item>
        

      <div class="button-bar">
        <a class="button icon-left ion-plus-circled button-assertive" ng-click="newTrip()">New Trip</a>
        <a class="button icon-left ion-star button-assertive">My Perks</a>
      </div>
    </ion-content>
</ion-view>