<ion-view title="PROWLIST">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Hotel</span>
        <input type="text" ng-model="stay.hotel">
      </label>
      <label class="item item-input">
        <span class="input-label">Dates</span>
        <input type="date" ng-model="stay.date">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="createStay()">
        Create Hotel Stay
      </button>
    </div>
  </ion-content>
</ion-view>