<ion-view view-title="My Trips">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Tel Aviv - [Hotel Name] - 3/23/2015</div>
      <div class="item item-body">
        <div>
          <b>Selected Perks:</b>
          <ul>
            <li>Wine box
          </ul>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Las Vegas - [Hotel Name] - 5/3/2015</div>
      <div class="item item-body">
        <div>
          <b>Selected Perks:</b>
          <ul>
            <li>Chocolate box
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
