<ion-view view-title="Trip to [HOTEL] - Select Preks">
  <ion-content>
    
    <div class="list">

	    <a class="item item-thumbnail-left" href="#">
	      <img src="cover.jpg">
	      <h2>Wine Box</h2>
	      <p>Desciprion...</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="cover.jpg">
	      <h2>Chocolate Box</h2>
	      <p>Desciprion...</p>
	    </a>

	</div>

	  <a class="button button-block button-positive icon-right ion-chevron-right" href="#/tab/new-trip/add-selected-perks">
	    Add Selected Perks
	  </a>

  </ion-content>
</ion-view>
